
#mainContact{
	height: 80vh;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url("../img/Pussy.jpg");
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
  	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	/* width: max-content; */
}


#formContact{
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	flex-wrap: wrap;
	width: max-content;
	height: max-content;
}


#formContact input{
	height: 30px; 
	margin: 5px;
	border-radius: 15px;
}

#formContact input #Question{
	height: 40px;
}

#sentContact{
	background-color: geel;
	
}