form textarea{

	resize: none;
}

form h3{
    text-align: center;
	color: var(--paars);
	font-weight: normal;
}

form input,
form textarea{
	height: 30px; 
	
    margin-top: 0.5rem;
	margin-bottom: 1rem;

	border-radius: 15px;
	border: 1px solid black;
	
    padding: 0 1em;
    width: 12rem;
}

input[type="submit"]{
	font-size: 1.2em;
	font-weight: 500;
	width: 12em;

	background-color: var(--geel);
	color: white;
	border: 1pt solid #000;
}